/.metadata/
/.recommenders/
/.settings/
*.iml
*.xml
*.html
*.prefs
*.class
Ch7/src/.idea/.name
*.iml___jb_tmp___
Ch01 - HelloWorld and First Loop/.DS_Store
Ch01 - HelloWorld and First Loop/.classpath
Ch01 - HelloWorld and First Loop/.classpath
Ch01 - HelloWorld and First Loop/.DS_Store
Ch01 - HelloWorld and First Loop/.project
GitHub/99-problems/nfcpanel/
GitHub/JavaLearning/
GitHub/99-problems/99_Problems/
.DS_Store
Random Programs/.DS_Store
Random Programs/.DS_Store
.DS_Store
.DS_Store
Random Programs/Newsletter_Analysis/.DS_Store
.DS_Store
Random Programs/.DS_Store
